<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'hello_vue', media: 'all' %>
    <%= javascript_include_tag 'hello_vue' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
